@import "../base.module.scss";

.Game {
  @extend .baseComponents;
  @extend .tracking-in-expand;
}

.titleGame {
  margin-bottom: 12%;
}

.WordBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formGame {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  input {
    padding: 7%;
    width: 10%;
    text-transform: uppercase;
  }
}

.boxLetters {
    margin-top: 10%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}